<div class="row">
  <div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label>Fruta</label>
          <input type="text" class="form-control" ng-model="fruit.name" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label>Peso promedio(Kg)</label>
          <input type="number" class="form-control" ng-model="fruit.peso" placeholder="Peso(Kg)">
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input type="number" class="form-control" ng-model="fruit.quantity" placeholder="Cantidad">
        </div>
        <div class="form-group">
          <label>Imagen</label>
          <input type="text" class="form-control" ng-model="fruit.image" placeholder="Imagen">
        </div>
        <button type="submit" ng-click="addfruit()" class="btn btn-success btn-lg btn-block">Agregar fruta</button>
      </form>
      <br>
      <div ng-show="alertsuc" class="alert alert-success" role="alert">{{success}}</div>
      <div ng-show="alerterr" class="alert alert-danger" role="alert">{{success}}</div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>